<div class="pagination">
  <a class="prev page-numbers" href="#"><svg class="icon icon-chevron icon-chevron-left"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#chevron-left"></use></svg></a>
  <a class="page-numbers" href="#"><span class="screen-reader-text">Page </span>1</a>
  <a class="page-numbers" href="#"><span class="screen-reader-text">Page </span>2</a>
  <span aria-current="page" class="page-numbers current"><span class="screen-reader-text">Page </span>3</span>
  <a class="page-numbers" href="#"><span class="screen-reader-text">Page </span>4</a>
  <a class="page-numbers" href="#"><span class="screen-reader-text">Page </span>5</a>
  <span class="page-numbers dots">…</span>
  <a class="page-numbers" href="#"><span class="screen-reader-text">Page </span>22</a>
  <a class="next page-numbers" href="#"><svg class="icon icon-chevron icon-chevron-right"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#chevron-right"></use></svg></a>
</div>
<div id="gmw-pt-pagination" class="gmw-pt-pagination-wrapper gmw-pt-bottom-pagination-wrapper clearfix">
  <ul class="gmw-pagination gmw-prem-pagination gmw-pagination-1"><li><a class="prev page-numbers" href="#">Prev</a></li><li><a class="page-numbers" href="#">1</a></li><li><a class="page-numbers" href="#">2</a></li><li><span aria-current="page" class="page-numbers current">3</span></li><li><a class="page-numbers" href="#">4</a></li><li><a class="page-numbers" href="#">5</a></li><li><span class="page-numbers dots">…</span></li><li><a class="page-numbers" href="#">7</a></li><li><a class="next page-numbers" href="#">Next</a></li></ul>
</div>
<br /><br />
<div class="wp-pagenavi">
<a class="previouspostslink" rel="prev" href="http://mfb.test/news-events/blog/page/3/">PREV</a>
<a class="page smaller" title="Page 2" href="http://mfb.test/news-events/blog/page/2/">2</a>
<a class="page smaller" title="Page 3" href="http://mfb.test/news-events/blog/page/3/">3</a>
<span class="current">4</span>
<a class="page larger" title="Page 5" href="http://mfb.test/news-events/blog/page/5/">5</a>
<a class="page larger" title="Page 6" href="http://mfb.test/news-events/blog/page/6/">6</a>
<a class="nextpostslink" rel="next" href="http://mfb.test/news-events/blog/page/5/">NEXT</a>
</div>

