<nav class="silc-nav main-menu">
  <ul>
    <li>
      <a href="#">Ways to Give</a>
      <ul>
        <li>
          <a href="#">Donate</a>
        </li>
        <li>
          <a href="#">Fundraise</a>
        </li>
        <li>
          <a href="#">Virtual Food Drive</a>
        </li>
        <li>
          <a href="#">Volunteer</a>
        </li>
        <li>
          <a href="#">Matching Gifts</a>
        </li>
        <li>
          <a href="#">Memorial Gifts</a>
        </li>
        <li>
          <a href="#">Planned Giving</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">Hunger in Maryland</a>
      <ul>
        <li>
          <a href="#">Test 1</a>
        </li>
        <li>
          <a href="#">Test 2</a>
        </li>
        <li>
          <a href="#">Test 3</a>
        </li>
        <li>
          <a href="#">Test 4</a>
        </li>
        <li>
          <a href="#">Test 5</a>
        </li>
        <li>
          <a href="#">Test 6</a>
        </li>
        <li>
          <a href="#">Test 7</a>
        </li>
        <li>
          <a href="#">Test 8</a>
        </li>
        <li>
          <a href="#">Test 9</a>
        </li>
        <li>
          <a href="#">Test 10</a>
        </li>
        <li>
          <a href="#">Test 11</a>
        </li>
        <li>
          <a href="#">Test 12</a>
        </li>
        <li>
          <a href="#">Test 13</a>
        </li>
        <li>
          <a href="#">Test 14</a>
        </li>
        <li>
          <a href="#">Test 15</a>
        </li>
        <li>
          <a href="#">Test 16</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">About</a>
    </li>
  </ul>
</nav>
