.footer {
	margin-bottom: rem(40);
	@include media($mobile-break) {
		margin-bottom: 0;
	}
}
.section--footer	{
	color: #FFF;
	margin: 0 auto;
	font-family: "Poppins", sans-serif;
	font-weight: 500;

	// .row {
	// 	max-width: 1280px;
	// 	margin: 0 auto;
	// }
	&.section--footer-tier1 {
		background: $gray1;
		.compartment {
			padding-top: rem(50);
			padding-bottom: rem(25);
			// text-align: center;
			// @include media($mobile-break) {
			// 	text-align: left;
			// }
		}
		img {
			margin-bottom: rem(30);
		}
		h5 {
			margin-top: rem(15);
			margin-bottom: rem(0);
		}
	}
	&.section--footer-tier2 {
		background: $gray2;

		.compartment {
			padding-top: rem(28);
			padding-bottom: rem(20);
		}
		ul.menu {
			margin-top: rem(20);
			margin-bottom: rem(20);
			column-count: 2;
			@include media($mobile-break) {
				column-count: 1;
			}
		}
		img {
			margin-right: rem(15);
			margin-bottom: rem(15);
		}
		.gform_wrapper {
			&.gform_validation_error {
				.ginput_container {
					// margin-bottom: rem(10);
				}
				.gform_footer {
					margin-bottom: rem(28);
				}
			}
			form {
				display: flex;
				flex-direction: column;
				@include media($mobile-break) {
					flex-direction: row;
				}
			}
			.gform_fields {
				margin: 0;
				padding-left: 0;
				li {
					list-style: none;
				}

			}
			.gfield {
				margin-bottom: rem(7);
				position: relative;
				@include media($mobile-break) {
					margin-right: rem(7);
				}
				label {
					display: none;
				}
				input {
					@include form-input-alt($gray4, $white);
				}
			}

			.validation_message {
				margin-top: rem(10);
				opacity: 0.5;
			}
			.validation_error {
				display: none;
				opacity: 0.5;
				width: 100%;
				margin-bottom: rem(10);
			}
			.gform_body {
			}
			.gform_footer {
				@include media($mobile-break) {
					align-self: flex-end;

				}
			}
			.gform_button {
				@include form-button-alt($white, $red, $base-font-color, $white);
				padding-left: rem(50);
				padding-right: rem(50);
				margin-bottom: rem(7);

			}
		}

	}
	&.section--footer-tier3 {
		background: $gray3;
		padding-bottom: 1em;
		.widget_text {
			margin-top: rem(20);
			margin-bottom: rem(10);
			text-align: center;
			@include media($mobile-break) {
				text-align: left;
			}
			a {
				font-weight: 700;
				display: block;
				margin-top: rem(20);
				@include media($mobile-break) {
					display: inline-block;
				}
			}
			span {
				display: none;
				@include media($mobile-break) {
					display: inline-block;
				}
			}
		}
	}

	h5 {
		padding-bottom: 0;
		line-height: 1.8;
		font-size: rem( 16 );
		margin: 0;
	}

	p {
		font-size: rem(16);
		line-height: 1.8;
		margin-bottom: 0;
	}

	a {
		color: #FFF;
		text-decoration: none;

		&:hover {
			color: $orange;
		}
	}

	ul.menu {
		line-height: 1;
		margin: 0;
		padding-left: 0;

		&.menu a {
			font-weight: 700;
		}
		li {
			list-style: none;
			padding-bottom: 13px;
		}

	}


	.silc-grid__col {
		margin-bottom: 0;
	}

}