.et_pb_gutters1.et_pb_row.et_pb_row_fullwidth {
	width: 100% !important;
	max-width: 100% !important;
}

.et_pb_gutters3 {

	.et_pb_row {

	}

	.et_pb_row.et_pb_row--compressed {

		@media (min-width: 981px) {

				.et_pb_column {
					margin-right: 0.8%;

					&.et_pb_column_1_2 {
						margin-right: 1.2%;
					}

				}

				.et_pb_column_1_2 {
					width: 49.45%;
				}

				.et_pb_column_1_3 {
					width: 32.866%;
				}

				.et_pb_column_1_4 {
					width: 24.475%;
				}
		}

		&.et_pb_row--twocolumn {
			max-width: 848px;
		}
	}

	.et_pb_row.et_pb_row--mw680 {
		max-width: 680px;
	}
	.et_pb_row.et_pb_row--mw880 {
		max-width: 880px;
	}
	.et_pb_row_fullwidth {
		// &.et_pb_row--flushright {
		// 	max-width: 89.8% !important;
		// 	@media (min-width: 981px) {
		// 		margin-right: 0;
		// 	}
		// 	.et_pb_column {
		// 		display: inline-flex;
		//     flex-direction: column;
		//     align-items: center;
		//     justify-content: center;
		// 	}
		// }
		// &.et_pb_row--flushleft {
		// 	max-width: 89.8% !important;
		// 	@media (min-width: 981px) {
		// 		margin-left: 0;
		// 	}
		// 	.et_pb_column {
		// 		display: inline-flex;
		//     flex-direction: column;
		//     align-items: center;
		//     justify-content: center;
		// 	}
		// }
	}


}

// .row--pullnextup {
// 	margin-bottom: -6%;
// }


