<div class="hero hero--home et_pb_section et_pb_section_0 et_pb_fullwidth_section et_section_regular et_section_transparent">
  <section class="et_pb_module et_pb_fullwidth_header et_pb_fullwidth_header_0 et_pb_bg_layout_dark et_pb_text_align_left">
    <div class="et_pb_fullwidth_header_container left">
      <div class="header-content-container center">
        <div class="header-content">
          <h1 class="et_pb_module_header">Headline Lorem Ipsum Dolor</h1>
          <span class="et_pb_fullwidth_header_subhead">Subheadline Dolor Sit Amet Consecurtor Amet </span>
          <div class="et_pb_header_content_wrapper"></div>
          <a class="et_pb_button et_pb_more_button et_pb_button_one" href="http://google.com">Give Today</a>
        </div>
      </div>
    </div>
    <div class="et_pb_fullwidth_header_overlay"></div>
    <div class="et_pb_fullwidth_header_scroll"></div>
  </section>
</div>