<header class="content-header">
  <div class="compartment">
    <div class="compartment--inner">
      <h1 class="entry-title">{{title}}</h1>
      {{>@breadcrumbs title=title}}
    </div>
  </div>
</header>