<nav class="silc-nav">
  <ul class="donate-menu">
    <li>
      <a href="http://www.google.com">Donate</a>
      <ul>
        <li><a href="#">Give Once</a></li>
        <li><a href="#">Give Monthly</a></li>
      </ul>
    </li>
  </ul>
</nav>
