.section--counter-with-stats {
  // margin-top: rem(100);
  background-color: $green;
  padding-bottom: rem(40);
  &:before { // admin will set a BG color on the section module; this element will then split it in half
    content: '';
    width: 100%;
    height: 100px;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    background: #FFF;
  }
  .et_pb_row {
    &:first-child {
      .et_pb_column {
        &:nth-child(2) {
          background-color: $gray4;
          border-radius: $border-radius;
          padding: rem(20) rem(30);
          .et_pb_number_counter {
            margin-bottom: rem(10);
            .percent {
              height: auto;
            }
            p {
              font-family: $sans-serif-alt;
              font-weight: 700;
              font-size: rem(36);
              line-height: rem(41);
              letter-spacing: -1px;
              @include media($mobile-break) {
                font-size: rem(64);
                line-height: rem(82);
                letter-spacing: -1.78px;
              }
              span {
                color: $white;


              }

            }

          }
          .et_pb_text_inner {
            p {
              color: $white !important;
              font-size: rem(18);
              line-height: rem(24);
              @include media($mobile-break) {

                font-size: rem(24);
                line-height: rem(30);
                letter-spacing: -0.32px;
              }
            }
          }
        }
      }
    }
    &:last-child {
      .et_pb_column {
        &:nth-child(1) {
          .et_pb_text_inner {
            text-align: center;
            @media (min-width: 981px) {
              text-align: left;
            }
          }

        }

      }
    }
  }
  .et_pb_image_wrap {
    background: $content-header-bg !important;
    &:hover {
      background: $gray4 !important;
      img {
        filter: invert(1) sepia(1) saturate(0) hue-rotate(175deg);
      }
    }
  }
}